@model IList<CnBrito.AgendaContatos.Model.Agenda.ContatoModel>

@{
    var user = (CnBrito.AgendaContatos.Model.Usuario.UsuarioModel)ViewBag.Usuario;
}

@if (user != null)
{
    <div class="row">
        <div class="col-md-12">
            <div style="text-align: right">
                <button type="button" class="btn btn-primary" id="btnNovoContato">
                    <span class="glyphicon glyphicon-plus"></span>
                    Novo Contato
                </button>
            </div>
        </div>
        <div class="col-md-12">
            <br />
        </div>
        <div class="col-md-12 col-sm-12" style="overflow-x:auto;">
            <table class="table table-striped" id="gridContatos" carregado="false">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>E-mail</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itemModel in Model)
                    {
                        <tr>
                            <td>@itemModel.Nome</td>
                            <td>@itemModel.Telefones.FirstOrDefault().Numero</td>
                            <td>@itemModel.Emails.FirstOrDefault().Endereco</td>
                            <td class="text-center">
                                <a class="btnEditar" id-registro="@itemModel.Id" title="Editar" 
                                   onclick="ContatoListagem.ModalEditar(this)"
                                   style="cursor: pointer;">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                            </td>
                            <td class="text-center">
                                <a class="btnExcluir" id-registro="@itemModel.Id" nome-regrito="@itemModel.Nome"
                                   title="Excluir" onclick="ContatoListagem.Excluir(this)" style="cursor: pointer;">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
<script>

    $("#gridContatos").DataTable({
        language: {
            url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
        },
        "columnDefs": [
            { "targets": [3, 4], "orderable": false, "searchable": false }
        ],
        "aaSorting": []
    });

    $("#btnNovoContato").on('click', function () {
        ContatoListagem.ModalCadastrar();
    });

    var ContatoListagem = {

        ModalCadastrar: function () {
            $.ajax({
                url: "@Url.Action("ModalCadastrar", "Contato")",
                type: "GET",
                success: function (html) {
                    bootbox.dialog({
                        title: "Cadastrar Contato",
                        message: html
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    validacao.errorAjax(jqXHR, textStatus, errorThrown);
                }
            });
        },

        ModalEditar: function (elem) {

            var id = $(elem).attr("id-registro");

            $.ajax({
                url: "@Url.Action("ModalEditar", "Contato")/",
                type: "GET",
                data: {id : id},
                success: function (html) {

                    bootbox.dialog({
                        title: "Editar Contato",
                        message: html
                    });
                },error: function (jqXHR, textStatus, errorThrown) {
                    validacao.errorAjax(jqXHR, textStatus, errorThrown);
                }
            });
        },

        Excluir: function (elem) {

            var nome = $(elem).attr("nome-registro");

            swal({
                title: 'Você confirma a exclusão do Contato ' + nome + '?',
                text: '',
                type: 'question',
                showCancelButton: true,
                confirmButtonColor: '#10386B',
                confirmButtonText: 'Ok',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cancelar',
                allowOutsideClick: false
            }).then((willDelete) => {

                if (willDelete.value) {

                    var id = $(elem).attr("id-registro");

                    $.ajax({
                        url: "@Url.Action("Excluir", "Contato")/",
                        type: "POST",
                        data: { id: id },
                        success: function (result) {

                            var retorno = result.mensagensRetorno;

                            if (retorno.Status) {
                                swal({
                                    title: '',
                                    text: retorno.MensagemExibicao,
                                    type: 'success',
                                    confirmButtonColor: '#10386B',
                                    allowOutsideClick: false
                                }).then(function () {
                                    bootbox.hideAll();
                                    funcoesIndexTabs.listaUsuarios($(".abaContatos"), false);
                                });
                            }
                            else {

                                swal({
                                    title: '',
                                    text: retorno.MensagemExibicao,
                                    type: 'warning',
                                    confirmButtonColor: '#10386B',
                                    allowOutsideClick: false
                                });
                                console.log(retorno.MensagemAnalise);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            validacao.errorAjax(jqXHR, textStatus, errorThrown);
                        }
                    });

                }

            });

        }
    };

</script>

